
<div class="header-middle-right d-flex align-items-center">
    
    <ul class="hm-menu">
        <li class="hm-minicart">
            <a href="@Url.Action("Cart", "ShoppingCart")" class="cart-item">
                <span class="item-icon"></span>
                <span class="item-text">
                    Cart
                    <span class="cart-item-count">@ViewBag.Tongsoluong</span>
                </span>
            </a>
        </li>
    </ul>
</div>



